version: v1
managed:
  enabled: true
  go_package_prefix:
    default: github.com/company/proto
plugins:
  - plugin: buf.build/protocolbuffers/java
    out: gen/java
  - plugin: buf.build/protocolbuffers/python
    out: gen/python
  - plugin: buf.build/protocolbuffers/js
    out: gen/js
    opt:
      - import_style=commonjs
      - binary